streamlit
psycopg2-binary
streamlit
pandas
openpyxl
plotly
altair
plotly
streamlit_plotly_events
streamlit_card
streamlit-shadcn-ui
streamlit-extras
matplotlib
google-genai
sqlalchemy
streamlit-extras
streamlit_antd_components
